<?xml version="1.0"?>
<launch>
  <arg default="true" doc="If true, limits joint range [-PI, PI] on all joints." name="limited"/>
  <arg default="true" doc="If True, simulated instance of UR5e" name="sim"/>
  <arg default="false" doc="If True, MoveIt will run in debugging mode" name="moveit_debug"/>
  <arg default="false" doc="Starts gazebo in paused mode" name="paused"/>
  <arg default="true" doc="Starts gazebo with gui" name="gui"/>

  <group if="$(arg sim)">
    <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg default="worlds/empty.world" name="world_name"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="gui" value="$(arg gui)"/>
    </include>
  </group>

  <!-- Create robot -->
  <include file="$(find ur5e_2f85)/launch/spawn_ur5e_2f85.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="moveit_debug" value="$(arg moveit_debug)"/>
    <arg name="prefix" value="single"/>
  </include>

  <!-- spawn the robot in gazebo -->
  <node pkg="ur5e_2f85" name="spawn_robot" args="'single' $(arg sim)" output="screen" respawn="false" type="spawn_ur5e_2f85.py"/>

  <!-- Create TF broadcasters to maintain consistent coordinate frames in RViz and Gazebo -->
  <node pkg="ur5e_2f85" name="gazebo_to_robot_tf" args="'single'" output="screen" respawn="false" type="fixed_tf_broadcaster.py"/>
 </launch>