<?xml version="1.0"?>
<launch>
  <arg default="true" doc="If true, limits joint range [-PI, PI] on all joints." name="limited"/>
  <arg default="true" doc="If True, simulated instance of UR5e" name="sim"/>
  <arg default="false" doc="If True, MoveIt will run in debugging mode" name="moveit_debug"/>

  <arg name="base_x" doc="The robot's base_link's x coordinate (in meters)" default="0.0"/>
  <arg name="base_y" doc="The robot's base_link's y coordinate (in meters)" default="0.0"/>
  <arg name="base_z" doc="The robot's base_link's z coordinate (in meters)"  default="0.0"/>
  <arg name="base_R" doc="The robot's base_link's Roll amount (in radians)" default="0"/>
  <arg name="base_P" doc="The robot's base_link's Pitch amount (in radians)" default="0"/>
  <arg name="base_Y" doc="The robot's base_link's Yaw amount (in radians)" default="0"/>
  <arg name="prefix" doc="To differentiate between multiple robots, set a different prefix for each. NOTE: prefix should end with _" default=""/>

  <!-- Send robot urdf to param server -->
  <include file="$(find ur5e_2f85_description)/launch/ur5e_2f85_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="base_x" value="$(arg base_x)"/>
    <arg name="base_y" value="$(arg base_y)"/>
    <arg name="base_z" value="$(arg base_z)"/>
    <arg name="base_R" value="$(arg base_R)"/>
    <arg name="base_P" value="$(arg base_P)"/>
    <arg name="base_Y" value="$(arg base_Y)"/>
  </include>

  <!-- Simulated components -->
  <group if="$(arg sim)">
    <!-- Spawn robot in Gazebo -->
    <!--
    <node args="-urdf -param robot_description -model $(arg prefix)robot -x $(arg base_x) -y $(arg base_y) -z $(arg base_z) -R $(arg base_R) -P $(arg base_P) -Y $(arg base_Y)" name="spawn_robot" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
    -->

    <node args="-urdf -param robot_description -model $(arg prefix)robot -x $(arg base_x) -y $(arg base_y) -z $(arg base_z) -R $(arg base_R) -P $(arg base_P) -Y $(arg base_Y)" name="spawn_robot" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>

    <!-- Include controller utilities -->
    <include file="$(find ur5e_2f85_gazebo)/launch/controller_utils.launch">
      <arg name="prefix" value="$(arg prefix)"/>
    </include>

    <!-- Load arm controller  -->
    <rosparam command="load" file="$(find ur5e_2f85_gazebo)/controller/arm_controller_ur5e_2f85.yaml"/>

    <!-- Load gripper controller  -->
    <rosparam command="load" file="$(find ur5e_2f85_moveit_config)/config/robotiq_2f85_controller.yaml"/>
    
    <remap from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>
  </group>

  <node args="spawn arm_controller" name="arm_controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="controller_manager"/>

  <node args="spawn gripper_controller" name="gripper_controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="controller_manager"/>

  <!-- load other controllers -->
  <node args="load joint_group_position_controller gripper_controller" name="ros_control_controller_manager" output="screen" pkg="controller_manager" respawn="false" type="controller_manager"/>

  <!-- Launch MoveIt move group -->
  <include file="$(find ur5e_2f85_moveit_config)/launch/move_group.launch">
    <arg default="$(arg moveit_debug)" name="debug"/>
    <arg default="/$(arg prefix)" name="prefix"/>
  </include>
</launch>