<?xml version="1.0"?>
<launch>
  <arg default="true" doc="If true, limits joint range [-PI, PI] on all joints." name="limited"/>
  <arg default="true" doc="If True, simulated instance of UR5e" name="sim"/>
  <arg default="false" doc="If True, MoveIt will run in debugging mode" name="moveit_debug"/>

  <arg name="prefix" doc="To differentiate between multiple robots, set a different prefix for each. NOTE: prefix should end with _" default=""/>

  <group ns="$(arg prefix)">
    <!-- Simulated components -->
    <group if="$(arg sim)">
      <!-- Include controller utilities -->
      <include file="$(find ur5e_2f85_gazebo)/launch/controller_utils.launch">
        <arg name="prefix" value="$(arg prefix)"/>
      </include>

      <!-- Load arm controller  -->
      <rosparam command="load" file="$(find ur5e_2f85_gazebo)/controller/arm_controller_ur5e_2f85.yaml"/>

      <!-- Load gripper controller  -->
      <rosparam command="load" file="$(find ur5e_2f85_moveit_config)/config/robotiq_2f85_controller.yaml"/>
      
      <remap from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>
    </group>

    <node args="spawn arm_controller" name="arm_controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="controller_manager"/>

    <node args="spawn gripper_controller" name="gripper_controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="controller_manager"/>

    <!-- load other controllers -->
    <node args="load joint_group_position_controller gripper_controller" name="ros_control_controller_manager" output="screen" pkg="controller_manager" respawn="false" type="controller_manager"/>
  </group>

  <!-- Launch MoveIt move group -->
  <include file="$(find ur5e_2f85_moveit_config)/launch/move_group.launch">
    <arg value="$(arg moveit_debug)" name="debug"/>
    <arg value="$(arg prefix)" name="prefix"/>
  </include>
</launch>