<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5e_2f85" >
  <!-- Simulated flag -->
  <xacro:property name="sim" value="true"/>

  <!-- Flag to use grasp fix to attach objects to gripper in simulation -->
  <xacro:property name="use_grasp_fix" value="false"/>

  <xacro:arg name="prefix" default=""/>

  <!-- 
  <xacro:arg name="base_x" default="1.0"/>
  <xacro:arg name="base_y" default="1.0"/>
  <xacro:arg name="base_z" default="1.0"/>
  <xacro:arg name="base_R" default="1.0"/>
  <xacro:arg name="base_P" default="1.0"/>
  <xacro:arg name="base_Y" default="1.0"/>
  -->

  <!--
  <xacro:property name="base_x" value="$(arg base_x)" />
  <xacro:property name="base_y" value="$(arg base_y)" />
  <xacro:property name="base_z" value="$(arg base_z)" />
  <xacro:property name="base_R" value="$(arg base_R)" />
  <xacro:property name="base_P" value="$(arg base_P)" />
  <xacro:property name="base_Y" value="$(arg base_Y)" />
  -->

  <!-- The transmission interface to use for UR5e -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>


  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- UR5e URDF -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- Create the UR5e, limiting each joint -->

  <!-- arm -->
  <xacro:ur5e_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />
  
  <!-- Create the Robotiq wrist camera --> 
  <xacro:include filename="$(find ur5e_2f85_description)/urdf/robotiq_wrist_camera.urdf.xacro" />
  <xacro:robotiq_wrist_camera parent="ee_link" prefix="$(arg prefix)">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 ${pi/2} 0.0"/>
  </xacro:robotiq_wrist_camera>

  <!-- Create the Robotiq 2F-85 gripper --> 
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />
  <xacro:robotiq_arg2f_85 prefix="$(arg prefix)"/>
  

  <joint name="robotiq_wrist_camera_ee_joint" type="fixed">
    <parent link="robotiq_wrist_camera_base_link" />
    <child link = "robotiq_arg2f_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Dummy link --> 
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
  </joint>

  <!-- Simulated robot components -->
  <xacro:if value="${sim == 'true'}">
    <xacro:if value="${use_grasp_fix == 'true'}">
      <!-- gazebo plugin for attaching objects to gripper -->
      <gazebo>
        <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
          <arm>
            <arm_name>ur5e_2f85</arm_name>
            <palm_link>robotiq_85_right_inner_knucle_link</palm_link>
            <gripper_link>robotiq_85_left_finger_tip_link</gripper_link>
            <gripper_link>robotiq_85_right_finger_tip_link</gripper_link>
          </arm>
          <forces_angle_tolerance>100</forces_angle_tolerance>
          <update_rate>4</update_rate>
          <grip_count_threshold>4</grip_count_threshold>
          <max_grip_count>8</max_grip_count>
          <release_tolerance>0.005</release_tolerance>
          <disable_collisions_on_attach>false</disable_collisions_on_attach>
          <contact_topic>__default_topic__</contact_topic>
        </plugin>
      </gazebo> 
    </xacro:if>
  </xacro:if>
</robot>
