<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5e_2f85" >
  <!-- Simulated flag -->
  <xacro:property name="sim" value="true"/>

  <!-- Flag to use grasp fix to attach objects to gripper in simulation -->
  <xacro:property name="use_grasp_fix" value="false"/>

  <!-- The transmission interface to use for UR5e -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- UR5e URDF -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5.urdf.xacro" />

  <!-- Robotiq 2F-85 gripper -->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model.xacro" />

 <!-- Robotiq wrist_camera -->
  <xacro:include filename="$(find ur5e_2f85_description)/urdf/robotiq_wrist_camera.urdf.xacro" />

  <!-- Create the UR5e -->
  <xacro:ur5_robot prefix="" joint_limited="false" transmission_hw_interface="$(arg transmission_hw_interface)" />
  
  <!-- Create the Robotiq wrist camera --> 
  <xacro:robotiq_wrist_camera prefix="" parent="ee_link">
    <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
  </xacro:robotiq_wrist_camera>

  <!-- Create the Robotiq 2F-85 gripper --> 
  <xacro:robotiq_85_gripper prefix="" parent="robotiq_wrist_camera_base_link" >
    <origin xyz="0 0 0" rpy="0  ${-pi/2} 0"/>
  </xacro:robotiq_85_gripper>

  <!-- Dummy link --> 
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- Simulated robot components -->
  <xacro:if value="${sim == 'true'}">
    <xacro:if value="${use_grasp_fix == 'true'}">
      <!-- gazebo plugin for attaching objects to gripper -->
      <gazebo>
        <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
          <arm>
            <arm_name>ur5e_2f85</arm_name>
            <palm_link>robotiq_85_right_inner_knucle_link</palm_link>
            <gripper_link>robotiq_85_left_finger_tip_link</gripper_link>
            <gripper_link>robotiq_85_right_finger_tip_link</gripper_link>
          </arm>
          <forces_angle_tolerance>100</forces_angle_tolerance>
          <update_rate>4</update_rate>
          <grip_count_threshold>4</grip_count_threshold>
          <max_grip_count>8</max_grip_count>
          <release_tolerance>0.005</release_tolerance>
          <disable_collisions_on_attach>false</disable_collisions_on_attach>
          <contact_topic>__default_topic__</contact_topic>
        </plugin>
      </gazebo> 
    </xacro:if>
  </xacro:if>
</robot>