<?xml version="1.0" ?>

<!-- 
    Please note that the base link of the 2f gripper is
    "${prefix}robotiq_85_adapter_link"
 -->

<robot name="robotiq_model" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find robotiq_2f_hand_e_gripper_visualization)/urdf/robotiq_model_macro.xacro" />
    <xacro:robotiq_model prefix=""/>
</robot>
